<header>
  <div class="navbar">
    <div class="menu_button"><button type="button">
      <svg
        fill="#000000"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 50 50"
        width="25px"
        height="25px"
      >
        <path
          d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"
        />
      </svg>
    </button></div>
    <h1>Wordle</h1>
    <div class="rigth_buttons">
      <button type="button">
        <img
          class="help"
          src="https://img.icons8.com/material-outlined/48/000000/help.png"
        />
      </button>
      <button type="button">
        <img
          class="icon"
          src="https://img.icons8.com/dotty/80/000000/city-buildings.png"
        />
      </button>
      <button type="button">
        <img
          class="config"
          src="https://img.icons8.com/external-sbts2018-solid-sbts2018/58/000000/external-config-basic-ui-elements-2.3-sbts2018-solid-sbts2018.png"
        />
      </button>
    </div>
  </div>
</header>
