{% extends 'base.html' %}
{% load static %}
{% block content%} 


{% include 'partials/navbar.html' %}

<main>
    <div class="container">
        <div class="wordle">
            <div class="row">
                <div class="square" id="r0c0"></div>
                <div class="square" id="r0c1"></div>
                <div class="square" id="r0c2"></div>
                <div class="square" id="r0c3"></div>
                <div class="square" id="r0c4"></div>
            </div>

            <div class="row">
                <div class="square" id="r1c0"></div>
                <div class="square" id="r1c1"></div>
                <div class="square" id="r1c2"></div> 
                <div class="square" id="r1c3"></div>
                <div class="square" id="r1c4"></div>
            </div>

            <div class="row">
                <div class="square" id="r2c0"></div>
                <div class="square" id="r2c1"></div>
                <div class="square" id="r2c2"></div> 
                <div class="square" id="r2c3"></div>
                <div class="square" id="r2c4"></div>
            </div>

            <div class="row">
                <div class="square" id="r3c0"></div>
                <div class="square" id="r3c1"></div>
                <div class="square" id="r3c2"></div> 
                <div class="square" id="r3c3"></div>
                <div class="square" id="r3c4"></div>
            </div>

            <div class="row">
                <div class="square" id="r4c0"></div>
                <div class="square" id="r4c1"></div>
                <div class="square" id="r4c2"></div> 
                <div class="square" id="r4c3"></div>
                <div class="square" id="r4c4"></div>
            </div>

            <div class="row">
                <div class="square" id="r5c0"></div>
                <div class="square" id="r5c1"></div>
                <div class="square" id="r5c2"></div> 
                <div class="square" id="r5c3"></div>
                <div class="square" id="r5c4"></div>
            </div>
        </div>
    </div>
    <div class="keyboard">
        <div class="keyboard_row row1">
            <div class="key" id="k0">Q</div>
            <div class="key" id="k1">W</div>
            <div class="key" id="k2">E</div>
            <div class="key" id="k3">R</div>
            <div class="key" id="k4">T</div>
            <div class="key" id="k5">Y</div>
            <div class="key" id="k6">U</div>
            <div class="key" id="k7">I</div>
            <div class="key" id="k8">O</div>
            <div class="key" id="k9">P</div>
        </div>
  
        <div class="keyboard_row row2">
            <div class="key" id="k10">A</div>
            <div class="key" id="k11">S</div>
            <div class="key" id="k12">D</div>
            <div class="key" id="k13">F</div>
            <div class="key" id="k14">G</div>
            <div class="key" id="k15">H</div>
            <div class="key" id="k16">J</div>
            <div class="key" id="k17">K</div>
            <div class="key" id="k18">L</div>
        </div>
  
        <div class="keyboard_row row3">
            <div class="key_enter">ENTER</div>
            <div class="key" id="k19">Z</div>
            <div class="key" id="k20">X</div>
            <div class="key" id="k21">C</div>
            <div class="key" id="k22">V</div>
            <div class="key" id="k23">B</div>
            <div class="key" id="k24">N</div>
            <div class="key" id="k25">M</div>
            <div class="key_enter">
                <img
                  class="backspace"
                  src="https://uploaddeimagens.com.br/images/003/821/991/full/3602247.png?1649684223"
                  alt="botão"
                />
            </div>
        </div>
    </div>
</main>

{% endblock %}
